/* Font */
h2>.tag{
        font-size: 16px;
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 10px;
        outline: 1px solid black;
        text-align: center;
        line-height: 25px;
        /* position: relative;
        bottom:7px; */
    }
/* TABLES */
table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: #7b16ff;
    color: #ffffff;
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #7b16ff;
}

/* Hide all columns except first and last on mobile */

@media only screen and (max-width: 800px) {
    td:nth-child(n+3), th:nth-child(n+3) {
        display: none;
    }
}

/* Timeline */
.t-timeline {
    list-style: none;
}

.t-timeline>li {
    margin-bottom: 60px;
}

.t-timeline .t-timeline-date {
    border-bottom: 2px solid #7b16ff;
    display: inline-block;
    margin-bottom: 0;
}

.t-timeline-content>h3, .t-timeline-content>h4 {
    margin-top: 15px;
    margin-bottom: unset;
}
/* for Desktop */
@media (min-width: 640px) {

    .t-timeline-content>h3{
        margin-top: 13px;
        margin-bottom:unset; 
    }
        .t-timeline-content>h4 {
            margin-top: 19px;
            margin-bottom: unset;
        }
    ul.t-timeline>li {
        overflow: hidden;
        margin: 0;
        position: relative;
        margin-bottom: none;
    }

    .t-timeline>li .t-timeline-date {
        width: 120px;
        float: left;
        margin-top: 17px;
        border-bottom: none;
    }

    .t-timeline>li .t-timeline-content {
        width: 75%;
        float: left;
        border-left: 3px #e5e5d1 solid;
        padding-left: 30px;
    }

    .t-timeline>li .t-timeline-content p {
        line-height: 1.6;
    }

    .t-timeline>li .t-timeline-content:before {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #7b16ff;
        position: absolute;
        left: 116px;
        top: 24px;
        border-radius: 100%;
    }
}